h3 {
    font-size: 40px;
    font-family: 仿宋;
}

body {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.8;
}

.account {
    width: 500px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
}

.form-group {
    padding: 0 30px 0 30px;
}

.sub_buton {
    padding: 0 0 10px 30px;
}

.res_tip {
    color: red;
}
